
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<div class="container">
<p>
<%= "#{@participant.id}" %>
Demo of geolocation using HTML5 API
</p>
</div>

<script type="text/javascript">

  var myRedirect = function(redirectUrl, arg1, value1,arg2,value2) {
  var form = $('<form action="' + redirectUrl + '" method="post">' +
  '<input type="hidden" name="'+ arg1 +'" value="' + value1 + '"></input>' + '<input type="hidden" name="'+ arg2 +'" value="' + value2 + '"></input>' + '</form>');
  $('body').append(form);
  $(form).submit();
};


  var user_lat;
  var user_lng;
  navigator.geolocation.getCurrentPosition(showPosition);
  function showPosition(position)
  {
    user_lat = position.coords.latitude;
    user_lng = position.coords.longitude;
    temp = "<%= "http://localhost:3000/homepage/#{@participant.id}" %>";
    myRedirect(temp, "lat", user_lat,"lng",user_lng);
  }
</script>

</html>


