// Place all the styles related to the participants/profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile .headpic {
	text-align:center;
	margin-top:-20px;
}

#profile .headpotrait {
	width:80px;
	height:80px;
	border: 5px solid #f9f7f8;
	border-radius:40px 40px;

}

.edit {
	margin-left:50%;
	background-color:#e8515a;
	border-color:#e8515a;

}

#formEdit {
width:100%;
margin-left:7%;
}

.editImage {
	float:left;
	margin-top:1%;
}

.editForm {
margin-left:10%;
	float:left;
	width:50%;
}

.editImageStyle {
	border-radius:6px;
}

.editSubmit {
	margin-left:6%;
}