<div id="activity-detail-<%= @activity.id %>">
	<%= link_to "Cancle", participant_activity_detail_path(@participant, @activity), method: :delete,
      class: "btn btn-primary", remote: true %>
</div>