<div class="col-md-3">
  <a class="thumbnail"><%= image_tag(@activity.img_url) %></a>
  <div>
    <strong> Activity Name: </strong> <%= @activity.name %>
    <%= link_to "Cancel", participant_activity_path(@participant, @activity), 
                    method: :delete, remote: true %>
  </div>  
</div>