<div id="activity-<%= @activity.id %>-togglejoin", class="area">
	<%= link_to participant_activity_path(@participant, @activity), method: :delete, remote: true do %>
    <div class="cancel">
      <span class="glyphicon glyphicon-log-out"></span>
      <span>Cancel</span>
    </div>
  <% end %>
</div>