<div id="activity-<%= @activity.id %>-togglejoin" class="cancel">
	<%= link_to participant_activity_path(@participant, @activity), method: :put, remote: true do %>
    <span class="glyphicon glyphicon-log-in"></span>
    <span>Join</span>
  <% end %>
</div>