<div>
  <h4>Show Idea:</h4>
  <ul>
    <li>
      <div>Idea</div>
      <div><%= @idea.title %></div>
    </li>
    <li>
      <div>Description:</div>
      <div><%= @idea.description %></div>
    </li>
  </ul>
</div>

