<div>
  <ul>
    <% @ideas.each do |idea| %>
      <li id="idea-<%= idea.id %>">
        <%= link_to idea.title, edit_participant_idea_path(@participant, idea) %>
        <div><%= idea.description %></div>
      </li>
    <% end %>
  </ul>
</div>