// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headpic-big {
    /*margin-top: 0px;*/
    text-align: center;
}

.headpotrait-big {
    width: 200px;
    height: 200px;
    border: 5px solid #f9f7f8;
    border-radius: 100px 100px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.curveline {
    border-radius: 60%/120px 100px 0 0;
    width: 120%; 
    margin: -120px -10% 0 -10%;
    height: 120px;
    border: solid 2px;
    border-color: #DDD transparent transparent transparent;
}
