// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#row_activity {
	border-bottom:1px solid;
	border-color:rgba(0,0,0,0.09);	
}

#row_idea {
	
}



.pegen {
	width:50%;
	height:50%;
}

.idea {
	float:left;
	margin-right:-8%;
}

.idea p {
	margin-top:-30%;
	font-size:120%;
	background:rgba(256,256,256,0.8);
	z-index:100;
	width:50%;
	height:50px;

}

.allidea {
	margin-left:0px;
}

.idea1 {
	width:30%;
	float:right;
	margin-right:63px;

}

.idea2 {

	width:30%;
	float:right;
}
.idea3 {
	width:28%;
	float:right;
}
.idea4 {
	width:100%;
	float:left;
	margin-left:70px;
	}

.idea5 {
	width:110%;
    float:left;
    margin-left:50px;
	
}

.idea6 {
	width:110%;
	float:left;
	margin-left:25%;
}

.idea7 {
	width:110%;
    float:left;
	margin-left:26px;
}

.allidea img {
position:relative;
	z-index:-1;
}