// Place all the styles related to the Organizers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#wrap {
	background: #f0f0f0 url(https://dribbble.com/assets/noise-f1-ebf1e3aadb4f63bf8ca0f1b032cadb97.gif) repeat -70% 0;
	min-height:600px;
}

#name {
	float:right;
	margin-top:-30px;
	color: #fff;
	margin-right:16%;
	font-size: 120%;
	font-family:fantasy;
}

#navi {
	width:100%;
	margin-top:-4%;
	background: rgba(255,255,255,0.6);
}

#navi ul {
	margin-left:6%;
}

#navi a {
	color:#7c7b7b;
}

#navi .activeo a{
	color:#000;
}

.allidea h4 {
	margin-left:5%;
} 
