// Place all the styles related to the Participants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#secondheader {
	margin-top:57px;
}

.container {
	min-height:528px;
	width:88%;
}

#navi {
	width:100%;
	background: rgba(255,255,255,0.6);
	font-size:90%;
}

#navi ul {
	margin-left:6%;
}

#navi a {
	color:#707070;
	font:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#navi .activeo a{
	color:#3b3b3b;
}


.thumbnail {
	padding: 0px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.09);
}

.headpic{
	margin-top:-35px;
	text-align:center;
}

.headpotrait {
	width:80px;
	height:80px;
	border: 5px solid #f9f7f8;
	border-radius:40px 40px;
	margin-top:-35px;
}
.summary-profile {
    margin-top:15px;
	width:120%;
	margin-left:-10%;
	border-bottom: 1px solid;
	border-color:rgba(0,0,0,0.09);
	background-color:#f9f7f8;
}
.summary-profile h3 {
	text-align:center;
	margin-top:-12px;
	color:rgba(0,0,0,0.72);
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.summary-profile h5 {
    color:rgba(0,0,0,0.51);
    background-color:(0,0,0,0.51);
	text-align:center;
}

.summary-activity {
	width:90%;
	margin-left:5%;
	border-bottom:1px solid;
	border-color:rgba(0,0,0,0.09);	
}

.summary-idea {
	width:90%;
	margin-left:5%;
}

.h4 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	text-align:center;
}

.caption .cancel {
	float:right;
}

.clear {
	clear:both;
}

.centre-form{
	margin-left:40%;
}






